Common/Interfaces/ReceiversInterface/config/CDB/schemas/KQWBandReceiverModeSetup.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
    - Author: Andrea Orlati
    -
    - History:
    -   08-08-2024  Created
-->

<xs:schema
    targetNamespace="urn:schemas-cosylab-com:KQWBandReceiverModeSetup:1.0"
    xmlns="urn:schemas-cosylab-com:KQWBandReceiverModeSetup:1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:cdb="urn:schemas-cosylab-com:CDB:1.0"
    xmlns:baci="urn:schemas-cosylab-com:BACI:1.0"   
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

<xs:complexType name="KQWBandReceiverModeType">
    <!-- Mode name or mode mnemonic code -->
    <xs:attribute name="Mode" type="xs:string" use="required"/>
    <!-- blank separated list of the starting frequencies (MHZ) relative to each of the IF for the K, Q, W1, and W2 band receiver respectively -->
    <!-- the first entry is relative to IF 0.  -->
    <xs:attribute name="RFMin" type="xs:string" use="required"/>
 
    <!-- blank separated list of the upper value (MHZ) of the sky radio band relative to each of the IF for the K, Q, W1, and W2 band receiver respectively -->
    <!-- the first entry is relative to IF 0.  -->    
    <xs:attribute name="RFMax" type="xs:string" use="required"/>
    
    <!-- blank separated list of the starting frequencies (MHZ) of the IF band relative to each of the IF for the K, Q, W1, and W2 band receiver respectively -->
    <!-- the first entry is relative to IF 0.  -->
    <xs:attribute name="IFMin" type="xs:string" use="required"/>
 
    <!-- blank separated list of the upper value (MHZ) of the IF band relative to each of the IF for the K, Q, W1, and W2 band receiver respectively -->
    <!-- the first entry is relative to IF 0.  -->    
    <xs:attribute name="IFMax" type="xs:string" use="required"/>
    
    
    <!-- number of virtual feeds -->
    <xs:attribute name="Feeds" type="xs:unsignedLong" use="required"/>
    <!-- number of IFs for each virtual feed-->
    <xs:attribute name="IFs" type="xs:unsignedLong" use="required"/>
 
 
    <!-- blank separated list of the polarization relative to each of the IF for the K, Q, W1, and W2 band receiver respectively -->
    <!-- the first entry is relative to IF 0. Accepted character are L or R  -->
    <xs:attribute name="IFBandPolarizations" type="xs:string" use="required"/>
    

    <!-- Default LO value (MHZ) -->
    <xs:attribute name="DefaultLO" type="xs:string" use="required"/>
    <!-- Fixed LO value (MHZ) -->
    <xs:attribute name="DefaultLO2" type="xs:string" use="required"/>
    <!-- Minimum LO value (MHZ) -->
    <xs:attribute name="LOMin" type="xs:string" use="required"/>
    <!-- Maximum LO value (MHZ) -->
    <xs:attribute name="LOMax" type="xs:string" use="required"/>
    <!-- Minimum LO2 value (MHZ) -->
    <xs:attribute name="LO2Min" type="xs:string" use="required"/>
    <!-- Maximum LO2 value (MHZ) -->
    <xs:attribute name="LO2Max" type="xs:string" use="required"/>
    
    <xs:attribute name="ActivateBypass" type="xs:boolean" use="required" />

</xs:complexType>

<xs:element name="KQWBandReceiverModeSetup" type="KQWBandReceiverModeType"/>

</xs:schema>
